---
import { SITE } from 'astrowind:config';
---

<div class="flex items-center">
  <span class="text-3xl font-extrabold tracking-tight text-slate-900 dark:text-white">
    YOLEC
  </span>

  <span class="ml-1 text-lg font-semibold tracking-[0.2em] uppercase text-blue-600 dark:text-blue-400">
    ELECTRIC
  </span>
</div>